@media only screen and (max-width: 500px) {
    nav {
        height: 70px;
    }
    .rightdiv {
        padding-left: 50px;
    }
}

@media only screen and (min-width: 500px) {
    nav {
        height: 30px;
    }
    .hobbies {
        display: flex;
    }
}

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #DADADA;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    padding-left: 0px;
    margin-left: 0px;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 2px 2px 0px;
    margin: 10px 2px 2px 0px;
}

a {
    color: #990003;
    padding: 5px;
    margin: 5px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
}

mark {
    background-color: cadetblue;
    color: black;
}

p>a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-weight: bold;
}

header, footer, navs {
    border: 1px solid #ccc;
    padding: 25px;
}

header {
    font-size: 20px;
    text-align: center;
    color: white;
    background: #023e3f;
    width: auto;
    height: 30px;
    margin: 0px 0px 0px 0px;
}

footer {
    clear: both;
    text-align: center;
    color: white;
    background: #023e3f;
    width: auto;
    height: 30px;
    margin: 0px 0px 0px 0px;
}

nav {
    font-size: 16px;
    color: #333;
    width: auto;
    text-align: center;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;
    background: #C0C0C0;
}

img {
    float: left;
    height: auto;
    background: #060d35;
    height: 200px;
    width: 100%;
}

a>img {
    width: 200px;
    height: auto;
}

ul {
    padding-left: 10px;
    margin: 10;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.contact>ul {
    padding-left: 0px;
    list-style: none;
}

address>ul {
    list-style: inherit;
    text-indent: 60px;
    font-size: 0.9em;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 0px;
}

table, th, td {
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid cadetblue;
    table-layout: fixed;
    width: auto;
    page-break-inside: avoid;
}

.skills>table, .skills>tables>td {
    margin-left: 20px;
}

table.hobTable {
    max-width: 100px;
    overflow-x: auto;
}

th {
    background: cadetblue;
}

tr, td {
    text-align: center;
    width: inherit;
    word-break: normal;
}

.leftdiv, .rightdiv {
    background: inherit;
}

.leftdiv {
    height: auto;
    width: 300px;
    padding: 10px;
    float: left;
    margin: 0px 0px 0px 0px;
}

.rightdiv {
    float: right;
    height: auto;
    width: 100%;
    max-width: 900px;
    position: relative;
    padding-right: 30px;
    margin: 10px 0px 50px 0px;
}

.contact {
    border-top: solid;
    line-height: 3;
    margin-top: 10px;
    height: auto;
    padding-top: 150px 20px 0px;
}

.career, .education, .work, .skills, .hobbies {
    border-top: solid;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

/* .education {
    text-align: center;
} */

.info {
    height: auto;
    width: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}