
footer,header {
    padding: 1em;
    color: white;
    background-color: #060d35;
    clear: left;
    text-align: center;
}
header>a{color: inherit;}
html, body {font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}
h1 {font-size : 28px;}
h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #990003 }
.education {
 color: #444;
 text-decoration: none;
 -webkit-transition: all .3s ease-in;
 -moz-transition: all .3s ease-in;
 -o-transition: all .3s ease-in;
 -ms-transition: all .3s ease-in;
 transition: all .3s ease-in;
}

table, th, td {
   border: 1px solid black;
}
td{
  color: black;
}

img {
  height: 200px;
  width:  200px;
  float: right;
  margin: 10px;
}
nav {
    clear:both;
}
