* {
    font-family: 'Lato', sans-serif;
}
article {
    display: grid;
    grid-template-areas:
      "header header"
      "image     nav"
      "image    row1"
      "contact    row2"
      "contact    row3"
      "contact    row4"
      "contact  row5"
      "contact  row6"
      "footer footer";
    grid-template-rows: 2px (1/7)fr (1/7)fr (1/7)fr (1/7)fr (1/7)fr (1/7)fr (1/7)fr 60px;
    grid-template-columns: 20% 1fr;
    grid-gap: 0px;
    height: 100vh;
    margin: 0px;
    }
header, footer{
    text-align: center;
    color: white;
    background:  #009688;
}
img{
    height: auto;
    width: 100%;
    grid-area: image;
    background:  #009688;
}
header {
    grid-area: header;
}

body {
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-size: 14px;
     color: #222;}

nav {
    padding-left: 10px;
    grid-area: nav;
}
footer {
    grid-area: footer;
}

.info {
    grid-area: row1;
}
.career {
    grid-area: row2;
}
.eduation {
    grid-area: row3;
}
.work {
    grid-area: row4;
}
.skills {
    grid-area: row5;
}
.hobbies {
    grid-area: row6;
}
.contact {
    grid-area: contact;
    color: white;
    margin-top: 1px;
    background:  #009688;
}
section{
    padding: 10px;
}

li{
    margin: 2px;
    padding: 1px;
}
li>a{
    color: white;
}
h1 {font-size : 28px;}
a { color: #990003 }
p>a{
    text-decoration: none;
    font-weight: bold;
}
table, th, td {

    border: 1px solid black;
    padding: 1px;
    text-align: center;
 }
 th{
    color: white;
    background:  #009688;
 }

 td{
   color: black;
 }
 h2,h3{
     color: white;
     text-align: center;
     background-color: #009688;
 }
